<div class="landing-wrapper" id="wrapper">
    
    <div id="home"  class="landing-banner">
        <div class="landing-banner-content">
            <h2>Welcome to Nimi Stores</h2>
            <h6>The right store for all your in house and outdoor stuff</h6><br>

        </div>
    </div>

    <div id="features" class="landing-features">
        <div class="section-header">
            <h2>Steps to place an order</h2>
            <h6>Quis elit esse mollit cillum eu. Consectetur veniam voluptate culpa proident Lorem voluptate irure nulla magna aliqua. Anim labore sunt aliquip sunt laborum reprehenderit.</h6>
        </div>

        <div class="features-content">
            <div class="p-grid features-cards p-nogutter">
                <div class="p-col-12 p-md-6 p-xl-3">
                    <div class="feature-card responsive">
                        <h5>Step 1</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis mi sed malesuada mollis. Nulla bibendum tortor est, eu tincidunt justo porta posuere.</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-xl-3">
                    <div class="feature-card design">
                        <h5>Step 2</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis mi sed malesuada mollis. Nulla bibendum tortor est, eu tincidunt justo porta posuere.</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-xl-3">
                    <div class="feature-card documented">
                        <h5>Step 3</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis mi sed malesuada mollis. Nulla bibendum tortor est, eu tincidunt justo porta posuere.</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-xl-3">
                    <div class="feature-card cleancode">
                        <h5>Step 4</h5>
                        <span>ALL DONE!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>