
<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            
            <div class="login-form">
                <h2>Login To Nimi Stores</h2>
                <p>You don't have an account? <a href="#"> Sign up</a></p>

                <input class="input" type="text" autocomplete="off" pInputText  placeholder="Username">
                <input class="input" type="password"  autocomplete="off" pInputText placeholder="Password">
                <button class="button" onClick="location.href='/dashboard'" pRipple label="LOGIN" icon="pi pi-lock" type="button">LOGIN</button>
                <!--p-button label="LOGIN" icon="pi pi-key" [loading]="loading[1]" (click)="userLogin(1)"></p-button-->
            </div>

            <div class="footer">
                <p>Having a problem login in? <a href="#">Click here</a></p>
            </div>
        </div>
    </div>
</div>